/* styles.css */

/* Reset default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Set font and background color */
body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Style heading */
h1 {
        font-size: 24px;
        font-weight: bold;
        color: white;
        text-align: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

/* Style paragraph */
p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
}
